/* 


.cart{
   background-color: rgb(255, 175, 78);
    justify-items: center;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid  black;
    padding: 2px;
    margin: 10px;
    display: inline-block;
}

.cart img{
    width: 190px;
    margin-left: 5px;
} */


